
@import "bootstrap";

html,
body {
  height: 100%;
}

.jumpotron{
    background-image: asset-url('jumpotron.jpg');
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: cover;
}

#page-content{
    background-color: rgba(151, 135, 135, 0.349);
    height: 100vh;
}